@import '../../../../scss/variables.scss';

.notification {
    width: 90vw;
    margin-bottom: 2vw;
    border: 2px solid $text-color;
    height: 5vw;
    background-color: $background-light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.red-text {
    border-color: $red-text;
}

.green-text {
    border-color: $green-text;
}