.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    &__headline {
        margin: 20px auto;
        text-align: left;
        width: 90vw;
        font-weight: bold;
    }
}