@import '../../../../scss/variables.scss';

.blog {
    margin-bottom: 40px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: $light-blue;

    @media only screen and (max-width: 600px) {
        padding: 15px 21px;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }


        &__buttons {
            width: 25%;
            height: fit-content;
            display: flex;
            justify-content: space-between;

            @media only screen and (max-width: 600px) {
                width: 100%;
                height: -moz-fit-content;
                height: fit-content;
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;

            }

            button {
                cursor: pointer;
                color: $light-text;
                background-color: $header-color;
                width: fit-content;
                padding: 10px;
                border-radius: 3px;
                width: 45%;
                text-align: center;
                border: none;


                @media only screen and (max-width: 600px) {
                    width: 50px;
                    padding: 0;
                    height: 30px;
                    margin-left: 10px;
                }


            }
        }

        &__left {
            display: flex;

            &__img {
                width: 80px;
                height: 80px;

                @media only screen and (max-width: 600px) {
                    width: 60px;
                    height: 60px;
                }

            }

            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;
                font-size: 20px;

                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                    text-align: left;
                }

                &__title {
                    font-size: 25px;
                    font-weight: bold;

                    @media only screen and (max-width: 600px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &__body {
        margin-top: 30px;
        display: flex;
    }

    &__images {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;

        &__image {
            width: 100px;
            height: 100px;

            @media only screen and (max-width: 600px) {
                width: 80px;
                height: 80px;
            }

        }
    }
}