@import '../../../../scss/variables.scss';

.blog {
    margin-bottom: 40px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: $light-blue;

    &__header {
        display: flex;
        justify-content: space-between;

        &__buttons {
            width: 25%;
            height: fit-content;
            display: flex;
            justify-content: space-between;

            button {
                cursor: pointer;
                color: $white-text;
                background-color: $header-color;
                width: fit-content;
                padding: 10px;
                border-radius: 3px;
                width: 45%;
                text-align: center;
                border: none;

            }
        }

        &__left {
            display: flex;

            &__img {
                width: 80px;
                height: 80px;
            }

            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;

                font-size: 20px &__title {
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
    }

    &__body {
        margin-top: 30px;
        display: flex;
    }

    &__images {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;

        &__image {
            width: 100px;
            height: 100px;
        }
    }
}