.Blog {
    background-color: grey;
    margin-bottom: 5vw;
    padding: 1vw 3vw;

    &__header {
        display: flex;
        justify-content: space-between;

        &__left {
            display: flex;

            &__img {
                width: 80px;
                height: 80px;
            }
        }
    }
}