@import '../../../scss/variables';

.addBlog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    width: 90vw;

    &__button {
        width: 30vw;
        cursor: pointer;
        color: $white-text;
        background-color: $header-color;
        width: fit-content;
        padding: 1vw 5vw;
        align-self: flex-end;
    }
}