@import './scss/variables.scss';

html {
  box-sizing: border-box;
  font-size: 16px;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

ol,
ul {
  list-style: none;
}

.app {
  text-align: center;
  color: $text-color;

  &__zero-state {
    position: absolute;
    top: 10vw;
    left: 50%;
    transform: translate(-50%);
    font-size: 2vw
  }

  &__backdrop {
    background: black;
    opacity: 0.7;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100vw;
  }
}