@import './scss/variables.scss';

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Heebo', sans-serif;
}

ol,
ul {
	list-style: none;
}
input,
textarea {
	font-size: 16px;
}
.app {
	text-align: center;
	color: $text-color;

	&__zero-state {
		position: absolute;
		top: 10vw;
		left: 50%;
		transform: translate(-50%);
		font-size: 25px;

		@media only screen and (max-width: 1200px) {
			font-size: 20px;
			width: 90%;

			img {
				margin-top: 20px;
				width: 100%;
			}
		}

		@media only screen and (max-width: 480px) {
			font-size: 15px;
		}
	}

	&__backdrop {
		background: black;
		opacity: 0.7;
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		width: 100vw;
	}
}
